{"openapi":"3.1.0","info":{"title":"Stream App","description":"Stream App API Documentation","version":"2"},"servers":[{"url":"https://stream-app-service.streampay.sa"}],"paths":{"/api/v2/me":{"get":{"tags":["User"],"summary":"Get User And Organization Info","description":"Retrieve information about the authenticated user and their organization.\n\nIt requires a valid authentication token and can be used to verify API\nconnectivity and retrieve user context. This endpoint returns details about the currently\nauthenticated user and their associated organization.","operationId":"get_user_and_organization_info_api_v2_me_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeResponse"}}}}},"security":[{"JWTBearer":[]},{"APIKey":[]}]}},"/api/v2/consumers":{"post":{"tags":["Consumers"],"summary":"Create Consumer","description":"Create a new consumer with contact information and payment details.","operationId":"Create_Consumer_api_v2_consumers_post","security":[{"JWTBearer":[]},{"APIKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsumerCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsumerResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Consumers"],"summary":"Get All Consumers","description":"List all consumers with pagination, filtering, and sorting options.","operationId":"Get_All_Consumers_api_v2_consumers_get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Page number, defaults to 1.","default":1},"description":"Page number, defaults to 1."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Size of a page, defaults to 10. Maximum is 100.","default":10},"description":"Size of a page, defaults to 10. Maximum is 100."},{"name":"search_term","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Search term to filter consumers. Default is None."},"description":"Search term to filter consumers. Default is None."},{"name":"sort_field","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Sorting direction ('asc' or 'desc')"},"description":"Sorting direction ('asc' or 'desc')"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResource_ConsumerResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/consumers/{consumer_id}":{"get":{"tags":["Consumers"],"summary":"Get Consumer","description":"Retrieve detailed information about a specific consumer by their ID.","operationId":"Get_Consumer_api_v2_consumers__consumer_id__get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"consumer_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the consumer","title":"Consumer Id"},"description":"Unique identifier (UUID) of the consumer"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseConsumerResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Consumers"],"summary":"Update Consumer","description":"Update consumer information such as contact details or payment methods.","operationId":"Update_Consumer_api_v2_consumers__consumer_id__put","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"consumer_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the consumer to update","title":"Consumer Id"},"description":"Unique identifier (UUID) of the consumer to update"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsumerUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseConsumerResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Consumers"],"summary":"Delete Consumer","description":"Delete a consumer from the organization.","operationId":"Delete_Consumer_api_v2_consumers__consumer_id__delete","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"consumer_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the consumer to delete","title":"Consumer Id"},"description":"Unique identifier (UUID) of the consumer to delete"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/coupons":{"get":{"tags":["Coupons"],"summary":"List Coupons","description":"List all coupons with pagination, filtering, and sorting options.","operationId":"List_Coupons_api_v2_coupons_get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Page number, defaults to 1.","default":1},"description":"Page number, defaults to 1."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Size of a page, defaults to 10. Maximum is 100.","default":10},"description":"Size of a page, defaults to 10. Maximum is 100."},{"name":"search_term","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Search by coupon name."},"description":"Search by coupon name."},{"name":"active","in":"query","required":false,"schema":{"type":"boolean","nullable":true,"description":"Filter by active or inactive coupons."},"description":"Filter by active or inactive coupons."},{"name":"is_percentage","in":"query","required":false,"schema":{"type":"boolean","nullable":true,"description":"Filter by percentage-based or fixed-amount coupons."},"description":"Filter by percentage-based or fixed-amount coupons."},{"name":"sort_field","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Sorting direction ('asc' or 'desc')"},"description":"Sorting direction ('asc' or 'desc')"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResource_CouponDetailed_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Coupons"],"summary":"Create Coupon","description":"Create a new coupon with discount details and active/inactive status.","operationId":"Create_Coupon_api_v2_coupons_post","security":[{"JWTBearer":[]},{"APIKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponDto"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/coupons/{coupon_id}":{"put":{"tags":["Coupons"],"summary":"Update Coupon","description":"Update coupon details such as discount amount or active status.","operationId":"Update_Coupon_api_v2_coupons__coupon_id__put","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"coupon_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the coupon to update","title":"Coupon Id"},"description":"Unique identifier (UUID) of the coupon to update"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponDto"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Coupons"],"summary":"Get Coupon","description":"Retrieve detailed information about a specific coupon including redemption history.","operationId":"Get_Coupon_api_v2_coupons__coupon_id__get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"coupon_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the coupon","title":"Coupon Id"},"description":"Unique identifier (UUID) of the coupon"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponDetailed"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Coupons"],"summary":"Delete Coupon","description":"Delete a coupon from the organization.","operationId":"Delete_Coupon_api_v2_coupons__coupon_id__delete","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"coupon_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the coupon to delete","title":"Coupon Id"},"description":"Unique identifier (UUID) of the coupon to delete"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/invoices/{invoice_id}/inplace":{"patch":{"tags":["Invoices"],"summary":"Update Invoice In Place","description":"Partially update specific invoice fields in-place.\n\nThis endpoint allows updating only the fields specified in the request.\nUse for quick changes such as updating the description or scheduled date.","operationId":"Update_Invoice_In_Place_api_v2_invoices__invoice_id__inplace_patch","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"invoice_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Invoice Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceInPlaceUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceDetailed"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/invoices/{invoice_id}":{"get":{"tags":["Invoices"],"summary":"Get Invoice","description":"Retrieve detailed information about a specific invoice by its ID.","operationId":"Get_Invoice_api_v2_invoices__invoice_id__get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"invoice_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the invoice","title":"Invoice Id"},"description":"Unique identifier (UUID) of the invoice"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceDetailed"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/invoices":{"post":{"tags":["Invoices"],"summary":"Create Invoice","description":"Create a new invoice with items and payment details.\n\nImportant: For most use cases, use the Checkout/Payment Link API (`/v2/payment_links`) instead.\nIt generates a payment link that you can embed in your own web page or redirect to.\n\nUse Cases:\n- Create an invoice and manually mark it as paid for reference\n- Automated invoice generation","operationId":"Create_Invoice_api_v2_invoices_post","security":[{"JWTBearer":[]},{"APIKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceDetailed"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Invoices"],"summary":"List Invoices","description":"List all invoices with pagination, filtering, and sorting options.","operationId":"List_Invoices_api_v2_invoices_get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"include_payments","in":"query","required":false,"schema":{"type":"boolean","nullable":true}},{"name":"payment_link_id","in":"query","required":false,"schema":{"type":"string","format":"uuid","nullable":true}},{"name":"statuses","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceStatusEnum"},"nullable":true}},{"name":"payment_statuses","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentStatusEnum"},"nullable":true,"description":"Invoice includes payments with the following statuses"},"description":"Invoice includes payments with the following statuses"},{"name":"search_term","in":"query","required":false,"schema":{"type":"string","nullable":true}},{"name":"from_date","in":"query","required":false,"schema":{"type":"string","format":"date-time","nullable":true}},{"name":"to_date","in":"query","required":false,"schema":{"type":"string","format":"date-time","nullable":true}},{"name":"due_date_from","in":"query","required":false,"schema":{"type":"string","format":"date-time","nullable":true,"description":"Invoice's payment due date from this date onwards"},"description":"Invoice's payment due date from this date onwards"},{"name":"due_date_to","in":"query","required":false,"schema":{"type":"string","format":"date-time","nullable":true,"description":"Invoice's payment due date to this date or older"},"description":"Invoice's payment due date to this date or older"},{"name":"from_price","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"},{"type":"null"}]}},{"name":"to_price","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"},{"type":"null"}]}},{"name":"organization_consumer_id","in":"query","required":false,"schema":{"type":"string","format":"uuid4","nullable":true}},{"name":"subscription_id","in":"query","required":false,"schema":{"type":"string","format":"uuid4","nullable":true}},{"name":"currencies","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Filter by invoice currency codes (OR). E.g. currencies=SAR,USD"},"description":"Filter by invoice currency codes (OR). E.g. currencies=SAR,USD"},{"name":"payments_not_settled","in":"query","required":false,"schema":{"type":"boolean","nullable":true,"description":"When true, only include invoices with a SUCCEEDED card/wallet payment (e.g. MADA, Visa)."},"description":"When true, only include invoices with a SUCCEEDED card/wallet payment (e.g. MADA, Visa)."},{"name":"page","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Page number, defaults to 1.","default":1},"description":"Page number, defaults to 1."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Size of a page, defaults to 10. Maximum is 100.","default":10},"description":"Size of a page, defaults to 10. Maximum is 100."},{"name":"sort_field","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Sorting direction ('asc' or 'desc')"},"description":"Sorting direction ('asc' or 'desc')"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResource_InvoiceListItem_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/payments":{"get":{"tags":["Payments"],"summary":"List Payments","description":"List all payments with pagination, filtering, and sorting options.\n\nPayments can be filtered by invoice IDs, statuses, date ranges, or search terms.","operationId":"List_Payments_api_v2_payments_get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"invoice_id","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"nullable":true,"description":"Filter by invoice IDs. Default is None."},"description":"Filter by invoice IDs. Default is None."},{"name":"statuses","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentStatusEnum"},"nullable":true,"description":"Filter by payment statuses. Default is None."},"description":"Filter by payment statuses. Default is None."},{"name":"search_term","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Search term to filter payments. Default is None."},"description":"Search term to filter payments. Default is None."},{"name":"from_date","in":"query","required":false,"schema":{"type":"string","format":"date-time","nullable":true,"description":"Filter payments from this date. Default is None."},"description":"Filter payments from this date. Default is None."},{"name":"to_date","in":"query","required":false,"schema":{"type":"string","format":"date-time","nullable":true,"description":"Filter payments up to this date. Default is None."},"description":"Filter payments up to this date. Default is None."},{"name":"page","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Page number, defaults to 1.","default":1},"description":"Page number, defaults to 1."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Size of a page, defaults to 10. Maximum is 100.","default":10},"description":"Size of a page, defaults to 10. Maximum is 100."},{"name":"sort_field","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Sorting direction ('asc' or 'desc')"},"description":"Sorting direction ('asc' or 'desc')"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResource_PaymentResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/payments/{payment_id}/mark-paid":{"post":{"tags":["Payments"],"summary":"Mark Payment As Paid","description":"Manually mark a payment as paid.\n\nRecord a payment received through manual methods (CASH, BANK_TRANSFER, CARD, or QURRAH).\n\n**Requirements:**\n- Payment must be in unpaid status (PENDING, UNDER_REVIEW, or FAILED)\n- Payment method must be manual (CASH, BANK_TRANSFER, CARD, or QURRAH)\n- For installment invoices, invoice must be in ACCEPTED status\n\nAutomatically completes the invoice if all payments are paid.","operationId":"Mark_Payment_as_Paid_api_v2_payments__payment_id__mark_paid_post","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"payment_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the payment to mark as paid","title":"Payment Id"},"description":"Unique identifier (UUID) of the payment to mark as paid"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMarkPaidRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMarkPaidResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/payments/{payment_id}":{"get":{"tags":["Payments"],"summary":"Get Payment","description":"Retrieve detailed information about a specific payment by its ID.","operationId":"Get_Payment_api_v2_payments__payment_id__get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"payment_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the payment","title":"Payment Id"},"description":"Unique identifier (UUID) of the payment"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/payments/{payment_id}/refund":{"post":{"tags":["Payments"],"summary":"Refund Payment","description":"Process a refund for a payment.\n\nSupports full refunds. The refund reason and optional note can be specified in the request.\n\n**Note:** If the customer paid multiple payments in a single transaction, you may receive an error\n(400 Bad Request) indicating multiple payments in the transaction. The error response will include\ndetails about all related payments. In this case, set `allow_refund_multiple_related_payments` to\n`true` to refund all payments that were part of the same transaction.","operationId":"Refund_Payment_api_v2_payments__payment_id__refund_post","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"payment_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the payment to refund","title":"Payment Id"},"description":"Unique identifier (UUID) of the payment to refund"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRefundRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentResponse"}}}},"400":{"description":"Multiple payments were paid in a single transaction. Set 'allow_refund_multiple_related_payments' to true to refund all related payments.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultiplePaymentsInTransactionErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/payments/auto-charge-on-demand/{payment_id}":{"post":{"tags":["Payments"],"summary":"Auto Charge On Demand","description":"Charge a payment using the consumer's latest tokenized card.\n\nThis endpoint allows organizations to charge a payment using the consumer's latest\nactive tokenized card. The following conditions must be met:\n\n- The consumer must have at least one active tokenized card.\n- The payment must be in an unpaid status (PENDING, PROCESSING, FAILED, etc.).\n\n**This is a restricted API and is only available to some organizations.**","operationId":"Auto_Charge_On_Demand_api_v2_payments_auto_charge_on_demand__payment_id__post","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"payment_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the payment to charge","title":"Payment Id"},"description":"Unique identifier (UUID) of the payment to charge"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoChargeOnDemandResponse"}}}},"400":{"description":"If no active card exists, payment is already paid, or payment processing fails."},"401":{"description":"If the organization does not have access to this API."},"404":{"description":"If payment, consumer, card, or consent is not found."},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/products":{"get":{"tags":["Products"],"summary":"List Products","description":"List all products with pagination, filtering, and sorting options.","operationId":"List_Products_api_v2_products_get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Page number, defaults to 1.","default":1},"description":"Page number, defaults to 1."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Size of a page, defaults to 10. Maximum is 100.","default":10},"description":"Size of a page, defaults to 10. Maximum is 100."},{"name":"search_term","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Serach by product name or description."},"description":"Serach by product name or description."},{"name":"active","in":"query","required":false,"schema":{"type":"boolean","nullable":true,"description":"Filter by active or inactive product. Removing this flag will return all products."},"description":"Filter by active or inactive product. Removing this flag will return all products."},{"name":"type","in":"query","required":false,"schema":{"$ref":"#/components/schemas/ProductType","nullable":true,"description":"Filter by product type."},"description":"Filter by product type."},{"name":"currency","in":"query","required":false,"schema":{"type":"string","minLength":3,"maxLength":3,"nullable":true,"description":"Filter by currency availability. Only returns products with an active price in this currency."},"description":"Filter by currency availability. Only returns products with an active price in this currency."},{"name":"sort_field","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Sorting direction ('asc' or 'desc')"},"description":"Sorting direction ('asc' or 'desc')"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResource_ProductDto_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Products"],"summary":"Create Product","description":"Create a new product with pricing and description.","operationId":"Create_Product_api_v2_products_post","security":[{"JWTBearer":[]},{"APIKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDto"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/products/{product_id}":{"get":{"tags":["Products"],"summary":"Get Product","description":"Retrieve detailed information about a specific product by its ID.","operationId":"Get_Product_api_v2_products__product_id__get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the product","title":"Product Id"},"description":"Unique identifier (UUID) of the product"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDto"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Products"],"summary":"Update Product","description":"Update product details such as name, price, or description.","operationId":"Update_Product_api_v2_products__product_id__put","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the product to update","title":"Product Id"},"description":"Unique identifier (UUID) of the product to update"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDto"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Products"],"summary":"Delete Product","description":"Delete a product from the organization.","operationId":"Delete_Product_api_v2_products__product_id__delete","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the product to delete","title":"Product Id"},"description":"Unique identifier (UUID) of the product to delete"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/subscriptions/{subscription_id}":{"get":{"tags":["Subscriptions"],"summary":"Get Subscription","description":"Retrieve detailed information about a specific subscription by its ID.","operationId":"Get_Subscription_api_v2_subscriptions__subscription_id__get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"subscription_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the subscription","title":"Subscription Id"},"description":"Unique identifier (UUID) of the subscription"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionDetailed"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Subscriptions"],"summary":"Update Subscription","description":"Update subscription items, coupons, description, auto-cancel cycles, or payment methods.\n\n**Important:** Updates take effect on the next invoice. Changes will not be applied to the current invoice.\n\nWhile updating the subscription, you are only allowed to update:\n- Items\n- Coupons\n- Description\n- After how many cycles the subscription auto cancel\n- Payment Methods Overrides\n\nTo change anything else, you will have to cancel and create a new subscription.","operationId":"Update_Subscription_api_v2_subscriptions__subscription_id__put","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"subscription_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the subscription to update","title":"Subscription Id"},"description":"Unique identifier (UUID) of the subscription to update"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionDetailed"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/subscriptions":{"get":{"tags":["Subscriptions"],"summary":"List Subscriptions","description":"List all subscriptions with pagination, filtering, and sorting options.","operationId":"List_Subscriptions_api_v2_subscriptions_get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"statuses","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubscriptionStatus"},"nullable":true,"description":"Filter by subscription status"},"description":"Filter by subscription status"},{"name":"latest_invoice_is_paid","in":"query","required":false,"schema":{"type":"boolean","nullable":true,"description":"Filter subscriptions based on if their latest invoice is paid or partially paid"},"description":"Filter subscriptions based on if their latest invoice is paid or partially paid"},{"name":"from_date","in":"query","required":false,"schema":{"type":"string","format":"date-time","nullable":true,"description":"datetime is created_at"},"description":"datetime is created_at"},{"name":"to_date","in":"query","required":false,"schema":{"type":"string","format":"date-time","nullable":true,"description":"datetime is created_at"},"description":"datetime is created_at"},{"name":"current_period_start_from_date","in":"query","required":false,"schema":{"type":"string","format":"date-time","nullable":true,"description":"Filter subscriptions with current_period_start from this date onwards"},"description":"Filter subscriptions with current_period_start from this date onwards"},{"name":"current_period_start_to_date","in":"query","required":false,"schema":{"type":"string","format":"date-time","nullable":true,"description":"Filter subscriptions with current_period_start up to this date"},"description":"Filter subscriptions with current_period_start up to this date"},{"name":"current_period_end_from_date","in":"query","required":false,"schema":{"type":"string","format":"date-time","nullable":true,"description":"Filter subscriptions with current_period_end from this date onwards"},"description":"Filter subscriptions with current_period_end from this date onwards"},{"name":"current_period_end_to_date","in":"query","required":false,"schema":{"type":"string","format":"date-time","nullable":true,"description":"Filter subscriptions with current_period_end up to this date"},"description":"Filter subscriptions with current_period_end up to this date"},{"name":"from_price","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"},{"type":"null"}],"description":"limit list by min subscription amount inclusive"},"description":"limit list by min subscription amount inclusive"},{"name":"to_price","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"},{"type":"null"}],"description":"limit list by max subscription amount inclusive"},"description":"limit list by max subscription amount inclusive"},{"name":"organization_consumer_id","in":"query","required":false,"schema":{"type":"string","format":"uuid4","nullable":true,"description":"filter subscriptions that belongs to organization consumer"},"description":"filter subscriptions that belongs to organization consumer"},{"name":"search_term","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Serach by product name or description."},"description":"Serach by product name or description."},{"name":"product_ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"nullable":true,"description":"Product ids that need to be in the list of subscriptions"},"description":"Product ids that need to be in the list of subscriptions"},{"name":"currencies","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Filter subscriptions by currency codes (OR). E.g. currencies=SAR,USD"},"description":"Filter subscriptions by currency codes (OR). E.g. currencies=SAR,USD"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Page number, defaults to 1.","default":1},"description":"Page number, defaults to 1."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Size of a page, defaults to 10. Maximum is 100.","default":10},"description":"Size of a page, defaults to 10. Maximum is 100."},{"name":"sort_field","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Sorting direction ('asc' or 'desc')"},"description":"Sorting direction ('asc' or 'desc')"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResource_SubscriptionDetailed_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Subscriptions"],"summary":"Create Subscription","description":"Create a new subscription with items, coupons, and payment methods.\n\nImportant: For most use cases, use the Checkout/Payment Link API (`/v2/payment_links`) instead.\nIt generates a payment link that you can embed in your own web page or redirect to.\n\nUse Cases:\n- Create a subscription and manually marking it as paid for reference\n- Automated subscription creation","operationId":"Create_Subscription_api_v2_subscriptions_post","security":[{"JWTBearer":[]},{"APIKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionDetailed"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/subscriptions/{subscription_id}/cancel":{"post":{"tags":["Subscriptions"],"summary":"Cancel Subscription","description":"Cancel a subscription and optionally handle related invoices.\n\nWhen canceling, you can specify whether to cancel ongoing invoices associated with the subscription.\nThe subscription status will be updated to reflect the cancellation.","operationId":"Cancel_Subscription_api_v2_subscriptions__subscription_id__cancel_post","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"subscription_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the subscription to cancel","title":"Subscription Id"},"description":"Unique identifier (UUID) of the subscription to cancel"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionCancel"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionDetailed"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/subscriptions/{subscription_id}/freeze":{"post":{"tags":["Subscriptions"],"summary":"Freeze Subscription","description":"Freeze a subscription to pause invoice generation for a specific period.\n\nDuring the freeze period, no invoices will be generated for the subscription. The subscription\nwill automatically resume after the freeze period ends.","operationId":"Freeze_Subscription_api_v2_subscriptions__subscription_id__freeze_post","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"subscription_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the subscription to freeze","title":"Subscription Id"},"description":"Unique identifier (UUID) of the subscription to freeze"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FreezeSubscriptionCreateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FreezeSubscriptionBase"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Subscriptions"],"summary":"List Subscription Freezes","description":"List all freeze periods for a specific subscription.","operationId":"List_Subscription_Freezes_api_v2_subscriptions__subscription_id__freeze_get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"subscription_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the subscription","title":"Subscription Id"},"description":"Unique identifier (UUID) of the subscription"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Page number, defaults to 1.","default":1},"description":"Page number, defaults to 1."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Size of a page, defaults to 10. Maximum is 100.","default":10},"description":"Size of a page, defaults to 10. Maximum is 100."},{"name":"sort_field","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Sorting direction ('asc' or 'desc')"},"description":"Sorting direction ('asc' or 'desc')"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResource_FreezeSubscriptionBase_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/subscriptions/{subscription_id}/freeze/{freeze_id}":{"put":{"tags":["Subscriptions"],"summary":"Update Subscription Freeze","description":"Update an existing subscription freeze period.\n\nAllows modifying the start and end dates of a freeze period. The subscription will remain\nfrozen during the updated period.","operationId":"Update_Subscription_Freeze_api_v2_subscriptions__subscription_id__freeze__freeze_id__put","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"subscription_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the subscription","title":"Subscription Id"},"description":"Unique identifier (UUID) of the subscription"},{"name":"freeze_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the freeze period to update","title":"Freeze Id"},"description":"Unique identifier (UUID) of the freeze period to update"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FreezeSubscriptionUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FreezeSubscriptionBase"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Subscriptions"],"summary":"Delete Subscription Freeze","description":"Remove a freeze period from a subscription.\n\nDeletes the specified freeze period, allowing the subscription to resume normal invoice\ngeneration immediately (if the freeze period was active).","operationId":"Delete_Subscription_Freeze_api_v2_subscriptions__subscription_id__freeze__freeze_id__delete","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"subscription_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the subscription","title":"Subscription Id"},"description":"Unique identifier (UUID) of the subscription"},{"name":"freeze_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the freeze period to delete","title":"Freeze Id"},"description":"Unique identifier (UUID) of the freeze period to delete"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/payment_links/{payment_link_id}":{"get":{"tags":["Checkout/Payment Links"],"summary":"Get Payment Link","description":"Retrieve detailed information about a specific payment link by its ID.","operationId":"Get_Payment_Link_api_v2_payment_links__payment_link_id__get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"payment_link_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the payment link","title":"Payment Link Id"},"description":"Unique identifier (UUID) of the payment link"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentLinkDetailed"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/payment_links":{"post":{"tags":["Checkout/Payment Links"],"summary":"Create Payment Link","description":"Create a new checkout/payment link for collecting payments.\n\n- **One-time products**: Creates an invoice (with its associated payment) when paid.\n- **Recurring products**: Creates a subscription (with its associated invoice and payment) when paid.\n\n**Notes:**\n- Cannot mix one-time and recurring products in the same payment link.\n- Installments are automatically disabled for recurring products (subscriptions).\n- Invoices, subscriptions and payments are created only after a successful payment.","operationId":"Create_Payment_Link_api_v2_payment_links_post","security":[{"JWTBearer":[]},{"APIKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePaymentLinkDto"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentLinkDetailed"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Checkout/Payment Links"],"summary":"List Payment Links","description":"List all payment links with pagination, filtering, and sorting options.","operationId":"List_Payment_Links_api_v2_payment_links_get","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"statuses","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentLinkStatus"},"nullable":true,"description":"Filter by subscription status"},"description":"Filter by subscription status"},{"name":"from_date","in":"query","required":false,"schema":{"type":"string","format":"date-time","nullable":true,"description":"datetime is created_at"},"description":"datetime is created_at"},{"name":"to_date","in":"query","required":false,"schema":{"type":"string","format":"date-time","nullable":true,"description":"datetime is created_at"},"description":"datetime is created_at"},{"name":"from_price","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"},{"type":"null"}],"description":"limit list by min payment link total amount inclusive"},"description":"limit list by min payment link total amount inclusive"},{"name":"to_price","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"},{"type":"null"}],"description":"limit list by max payment link total amount inclusive"},"description":"limit list by max payment link total amount inclusive"},{"name":"product_ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"nullable":true,"description":"Product ids that need to be in the list of payment links"},"description":"Product ids that need to be in the list of payment links"},{"name":"currencies","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Filter by currency codes (OR). E.g. currencies=SAR,USD"},"description":"Filter by currency codes (OR). E.g. currencies=SAR,USD"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Page number, defaults to 1.","default":1},"description":"Page number, defaults to 1."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"description":"Size of a page, defaults to 10. Maximum is 100.","default":10},"description":"Size of a page, defaults to 10. Maximum is 100."},{"name":"sort_field","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},"description":"Field to sort by, e.g., 'amount', 'scheduled_on'"},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","nullable":true,"description":"Sorting direction ('asc' or 'desc')"},"description":"Sorting direction ('asc' or 'desc')"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResource_PaymentLinkDetailed_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v2/payment_links/{payment_link_id}/status":{"patch":{"tags":["Checkout/Payment Links"],"summary":"Update Payment Link Status","description":"Update the status of a payment link.\n\nAllows activating or deactivating a payment link. When deactivated, the link will no longer\naccept new payments. Existing payments in progress are not affected.","operationId":"update_payment_link_status_api_v2_payment_links__payment_link_id__status_patch","security":[{"JWTBearer":[]},{"APIKey":[]}],"parameters":[{"name":"payment_link_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"Unique identifier (UUID) of the payment link to update","title":"Payment Link Id"},"description":"Unique identifier (UUID) of the payment link to update"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePaymentLinkStatusDto"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentLinkDetailed"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AutoChargeOnDemandResponse":{"properties":{"payment_id":{"type":"string","format":"uuid","title":"Payment Id","description":"ID of the payment that was charged"},"invoice_id":{"type":"string","format":"uuid","title":"Invoice Id","description":"ID of the invoice associated with the payment"}},"type":"object","title":"AutoChargeOnDemandResponse"},"BaseConsumerResponse":{"properties":{"id":{"type":"string","format":"uuid4","title":"Id","description":"Unique identifier (UUID) of the organization consumer"},"name":{"type":"string","title":"Name","description":"Name of the consumer"},"phone_number":{"type":"string","format":"phone","nullable":true,"description":"Phone number of the consumer"},"email":{"type":"string","format":"email","nullable":true,"description":"Email address of the consumer"},"external_id":{"type":"string","nullable":true,"description":"External identifier for the consumer"},"consumer":{"$ref":"#/components/schemas/app__consumer__v2__dtos__Consumer","nullable":true,"description":"Consumer information"},"iban":{"type":"string","nullable":true,"description":"IBAN (International Bank Account Number) of the consumer"},"is_deleted":{"type":"boolean","title":"Is Deleted","description":"Whether the consumer has been deleted"},"alias":{"type":"string","nullable":true,"description":"Alias of the consumer"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Date and time when the consumer was created"},"branch":{"$ref":"#/components/schemas/Branch","description":"Branch information for this consumer"},"comment":{"type":"string","nullable":true,"description":"Additional comments or notes about the consumer"},"communication_methods":{"items":{"$ref":"#/components/schemas/ConsumerCommunicationMethod"},"type":"array","title":"Communication Methods","description":"Preferred communication methods for the consumer"},"preferred_language":{"type":"string","title":"Preferred Language","description":"Preferred language of the consumer"}},"type":"object","title":"BaseConsumerResponse"},"Branch":{"properties":{"id":{"type":"string","format":"uuid4","title":"Id","description":"Unique identifier (UUID) of the branch"},"name":{"type":"string","title":"Name","description":"Name of the branch"}},"type":"object","title":"Branch"},"BranchDto":{"properties":{"id":{"type":"string","format":"uuid4","title":"Id","description":"Unique identifier (UUID) of the branch"},"name":{"type":"string","title":"Name","description":"Name of the branch"}},"type":"object","title":"BranchDto"},"ConsumerCommunicationMethod":{"type":"string","enum":["WHATSAPP","EMAIL","SMS"],"title":"ConsumerCommunicationMethod"},"ConsumerCreate":{"properties":{"name":{"type":"string","title":"Name","description":"Consumer name"},"phone_number":{"type":"string","format":"phone","nullable":true,"description":"Phone number"},"email":{"type":"string","format":"email","nullable":true,"description":"Email address"},"external_id":{"type":"string","nullable":true,"description":"External ID"},"iban":{"type":"string","maxLength":34,"title":"IBAN","nullable":true,"description":"IBAN"},"alias":{"type":"string","nullable":true,"description":"Alias"},"comment":{"type":"string","nullable":true,"description":"Comment"},"preferred_language":{"type":"string","nullable":true,"description":"Preferred language"},"communication_methods":{"items":{"$ref":"#/components/schemas/ConsumerCommunicationMethod"},"type":"array","nullable":true,"description":"Communication methods"}},"type":"object","required":["name"],"title":"ConsumerCreate","description":"Consumer creation model."},"ConsumerResponse":{"properties":{"id":{"type":"string","format":"uuid4","title":"Id","description":"Unique identifier (UUID) of the organization consumer"},"name":{"type":"string","title":"Name","description":"Name of the consumer"},"phone_number":{"type":"string","format":"phone","nullable":true,"description":"Phone number of the consumer"},"email":{"type":"string","format":"email","nullable":true,"description":"Email address of the consumer"},"external_id":{"type":"string","nullable":true,"description":"External identifier for the consumer"},"consumer":{"$ref":"#/components/schemas/app__consumer__v2__dtos__Consumer","nullable":true,"description":"Consumer information"},"iban":{"type":"string","nullable":true,"description":"IBAN (International Bank Account Number) of the consumer"},"is_deleted":{"type":"boolean","title":"Is Deleted","description":"Whether the consumer has been deleted"},"alias":{"type":"string","nullable":true,"description":"Alias of the consumer"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Date and time when the consumer was created"},"branch":{"$ref":"#/components/schemas/Branch","description":"Branch information for this consumer"},"comment":{"type":"string","nullable":true,"description":"Additional comments or notes about the consumer"},"communication_methods":{"items":{"$ref":"#/components/schemas/ConsumerCommunicationMethod"},"type":"array","title":"Communication Methods","description":"Preferred communication methods for the consumer"},"preferred_language":{"type":"string","title":"Preferred Language","description":"Preferred language of the consumer"},"last_invoice_activity":{"$ref":"#/components/schemas/LastInvoiceActivity","nullable":true,"description":"Information about the most recent invoice activity for this consumer"}},"type":"object","title":"ConsumerResponse"},"ConsumerUpdate":{"properties":{"name":{"type":"string","nullable":true,"description":"Consumer name"},"phone_number":{"type":"string","format":"phone","nullable":true,"description":"Phone number"},"email":{"type":"string","format":"email","nullable":true,"description":"Email address"},"external_id":{"type":"string","nullable":true,"description":"External ID"},"iban":{"type":"string","maxLength":34,"title":"IBAN","nullable":true,"description":"IBAN"},"alias":{"type":"string","nullable":true,"description":"Alias"},"comment":{"type":"string","nullable":true,"description":"Comment"},"preferred_language":{"type":"string","nullable":true,"description":"Preferred language"},"communication_methods":{"items":{"$ref":"#/components/schemas/ConsumerCommunicationMethod"},"type":"array","nullable":true,"description":"Communication methods"}},"type":"object","title":"ConsumerUpdate","description":"Consumer update model with all fields optional."},"ContactInformationType":{"type":"string","enum":["PHONE","EMAIL"],"title":"ContactInformationType"},"CouponCalculationMetadataDto":{"properties":{"coupons":{"items":{"$ref":"#/components/schemas/CouponMetadataDto"},"type":"array","title":"Coupons","description":"List of coupons applied and their calculation details"}},"type":"object","title":"CouponCalculationMetadataDto"},"CouponCreate":{"properties":{"name":{"type":"string","maxLength":80,"minLength":1,"title":"Name","description":"Name of the coupon."},"discount_value":{"anyOf":[{"type":"number","minimum":0.0},{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"}],"title":"Discount Value","description":"Discount value of the coupon (either percentage or fixed)."},"currency":{"$ref":"#/components/schemas/CurrencyCode","nullable":true,"description":"Currency code for fixed-amount coupons (required when is_percentage=false). Must be null when is_percentage=true. Must be one of the supported currency codes."},"is_percentage":{"type":"boolean","title":"Is Percentage","description":"True if the discount is a percentage, False if it is a fixed amount.","default":false},"is_active":{"type":"boolean","title":"Is Active","description":"Indicates if the coupon is active upon creation.","default":true}},"type":"object","required":["name","discount_value"],"title":"CouponCreate"},"CouponDetailed":{"properties":{"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Creation timestamp of the object."},"updated_at":{"type":"string","format":"date-time","nullable":true,"description":"Last modification timestamp of the object."},"id":{"type":"string","format":"uuid4","title":"Id","description":"Unique identifier (UUID) of the coupon"},"name":{"type":"string","maxLength":80,"minLength":1,"title":"Name","description":"Name of the coupon."},"discount_value":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Discount Value","description":"Discount value of the coupon (either percentage or fixed)."},"currency":{"$ref":"#/components/schemas/CurrencyCode","nullable":true,"description":"Currency code for fixed-amount coupons (e.g. SAR). Null for percentage coupons."},"is_percentage":{"type":"boolean","title":"Is Percentage","description":"True if the discount is a percentage, False if it is a fixed amount."},"is_active":{"type":"boolean","title":"Is Active","description":"Indicates if the coupon is currently active."},"redemptions":{"type":"integer","title":"Redemptions","description":"Indicates how many times this coupon has been used."}},"type":"object","title":"CouponDetailed"},"CouponDto":{"properties":{"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Creation timestamp of the object."},"updated_at":{"type":"string","format":"date-time","nullable":true,"description":"Last modification timestamp of the object."},"id":{"type":"string","format":"uuid4","title":"Id","description":"Unique identifier (UUID) of the coupon"},"name":{"type":"string","maxLength":80,"minLength":1,"title":"Name","description":"Name of the coupon."},"discount_value":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Discount Value","description":"Discount value of the coupon (either percentage or fixed)."},"currency":{"$ref":"#/components/schemas/CurrencyCode","nullable":true,"description":"Currency code for fixed-amount coupons (e.g. SAR). Null for percentage coupons."},"is_percentage":{"type":"boolean","title":"Is Percentage","description":"True if the discount is a percentage, False if it is a fixed amount."},"is_active":{"type":"boolean","title":"Is Active","description":"Indicates if the coupon is currently active."}},"type":"object","title":"CouponDto"},"CouponMetadataDto":{"properties":{"coupon_id":{"type":"string","title":"Coupon Id","description":"Unique identifier of the coupon"},"name":{"type":"string","title":"Name","description":"Name of the coupon"},"is_percentage":{"type":"boolean","title":"Is Percentage","description":"Whether the discount is a percentage or fixed amount"},"discount_value":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Discount Value","description":"Discount value (percentage or fixed amount)"},"order":{"type":"integer","title":"Order","description":"Order in which the coupon was applied"},"amount_before_discount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Amount Before Discount","description":"Amount before applying this coupon"},"discount_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Discount Amount","description":"Discount amount applied by this coupon"},"amount_after_discount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Amount After Discount","description":"Amount after applying this coupon"}},"type":"object","title":"CouponMetadataDto"},"CouponUpdate":{"properties":{"name":{"type":"string","maxLength":80,"minLength":1,"nullable":true,"description":"Updated name of the coupon."},"discount_value":{"anyOf":[{"type":"number","minimum":0.0},{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"},{"type":"null"}],"title":"Discount Value","description":"Updated discount value (either percentage or fixed)."},"currency":{"$ref":"#/components/schemas/CurrencyCode","nullable":true,"description":"Currency code for fixed-amount coupons. Null for percentage coupons."},"is_percentage":{"type":"boolean","nullable":true,"description":"True if the discount is a percentage, False if it is a fixed amount."},"is_active":{"type":"boolean","nullable":true,"description":"Whether the coupon should be active or inactive."}},"type":"object","title":"CouponUpdate"},"CreatePaymentLinkDto":{"properties":{"name":{"type":"string","title":"Name","description":"Name of the payment link"},"description":{"type":"string","nullable":true,"description":"Optional description of the payment link"},"currency":{"$ref":"#/components/schemas/CurrencyCode","description":"Currency for the payment link (e.g. SAR, USD). All products must have a price in this currency.","default":"SAR"},"items":{"items":{"$ref":"#/components/schemas/CreatePaymentLinkItemDto"},"type":"array","minItems":1,"title":"Items","description":"List of products to include in the payment link"},"coupons":{"items":{"type":"string","format":"uuid4"},"type":"array","title":"Coupons","description":"List of coupon UUIDs to apply at the payment link level for discounts"},"max_number_of_payments":{"type":"integer","nullable":true,"description":"Maximum number of times this payment link can be used. If null, the payment link can be used unlimited times. If organization_consumer_id is set, this number becomes how many times that specific customer can pay. Typically this should be set to 1 in that scenario."},"valid_until":{"type":"string","format":"date-time","nullable":true,"description":"Datetime after which the payment link is no longer valid. If no timezone is specified, UTC is assumed."},"confirmation_message":{"type":"string","nullable":true,"description":"Optional message to display to the payer after successful payment"},"payment_methods":{"$ref":"#/components/schemas/PaymentMethodDto","nullable":true,"description":"Configure which payment methods are available. If null, organization defaults are used. Note: Installments are always disabled for recurring products (subscriptions)."},"custom_fields":{"additionalProperties":true,"type":"object","nullable":true,"description":"A JSON Schema defining the custom fields."},"success_redirect_url":{"type":"string","maxLength":2000,"minLength":1,"format":"uri","nullable":true,"description":"URL to redirect the payer to after a successful payment"},"failure_redirect_url":{"type":"string","maxLength":2000,"minLength":1,"format":"uri","nullable":true,"description":"URL to redirect the payer to after a failed payment"},"organization_consumer_id":{"type":"string","format":"uuid","nullable":true,"description":"ID of an existing consumer who will pay using this payment link. If set, customer information is not collected and this payment will be for that customer only. This is typically used when a specific customer is paying once. If not set, the link will collect customer information first. Use this when you expect multiple payments from different people, such as for a group trip or event."},"custom_metadata":{"additionalProperties":{"$ref":"#/components/schemas/JsonValue"},"type":"object","nullable":true,"description":"Optional key-value metadata dictionary for attaching custom information. This metadata will be included as-is in payment link responses and webhook payloads."},"contact_information_type":{"$ref":"#/components/schemas/ContactInformationType","nullable":true,"description":"Type of contact information required for payment collection. Defaults to PHONE if not specified."}},"type":"object","required":["name","items"],"title":"CreatePaymentLinkDto"},"CreatePaymentLinkItemDto":{"properties":{"product_id":{"type":"string","format":"uuid4","title":"Product Id","description":"Unique identifier (UUID) of the product to include in the payment link"},"quantity":{"type":"integer","minimum":1.0,"title":"Quantity","description":"Quantity of the product. Must be at least 1.","default":1},"coupons":{"items":{"type":"string","format":"uuid4"},"type":"array","title":"Coupons","description":"List of coupon UUIDs to apply to this specific item for discounts"},"allow_custom_quantity":{"type":"boolean","title":"Allow Custom Quantity","description":"Whether customers can select custom quantity for this item","default":false},"min_quantity":{"type":"integer","minimum":0.0,"nullable":true,"description":"Minimum quantity allowed if allow_custom_quantity is True; value is inclusive"},"max_quantity":{"type":"integer","minimum":0.0,"nullable":true,"description":"Maximum quantity allowed if allow_custom_quantity is True; value is inclusive"}},"type":"object","required":["product_id"],"title":"CreatePaymentLinkItemDto"},"CurrencyCode":{"type":"string","enum":["SAR","USD","EUR","GBP","AED","BHD","KWD","OMR","QAR"],"title":"CurrencyCode","description":"ISO 4217 currency codes supported by Moyasar.\n\nIncludes all currencies supported by Moyasar payment gateway."},"FreezeSubscriptionBase":{"properties":{"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Creation timestamp of the object."},"updated_at":{"type":"string","format":"date-time","nullable":true,"description":"Last modification timestamp of the object."},"id":{"type":"string","format":"uuid","title":"Id"},"freeze_start_datetime":{"type":"string","format":"date-time","title":"Freeze Start Datetime"},"freeze_end_datetime":{"type":"string","format":"date-time","nullable":true},"notes":{"type":"string","nullable":true},"subscription_id":{"type":"string","format":"uuid","title":"Subscription Id"},"invoice_id":{"type":"string","format":"uuid","title":"Invoice Id"},"duration":{"type":"integer","nullable":true}},"type":"object","title":"FreezeSubscriptionBase"},"FreezeSubscriptionCreateRequest":{"properties":{"freeze_start_datetime":{"type":"string","format":"date-time","title":"Freeze Start Datetime","description":"Start date and time when the subscription freeze period begins"},"freeze_end_datetime":{"type":"string","format":"date-time","nullable":true,"description":"End date and time when the subscription freeze period ends. If not provided, the freeze will continue indefinitely until manually removed."},"notes":{"type":"string","nullable":true,"description":"Optional notes explaining the reason for the freeze"}},"type":"object","required":["freeze_start_datetime"],"title":"FreezeSubscriptionCreateRequest"},"FreezeSubscriptionUpdateRequest":{"properties":{"freeze_start_datetime":{"type":"string","format":"date-time","title":"Freeze Start Datetime","description":"freeze_start_datetime is always provided even if it dont change"},"freeze_end_datetime":{"type":"string","format":"date-time","nullable":true,"description":"freeze_end_datetime is optional, if provided, it must be greater than freeze_start_datetime "},"notes":{"type":"string","nullable":true,"description":"Optional notes explaining the reason for the freeze"}},"type":"object","required":["freeze_start_datetime","freeze_end_datetime"],"title":"FreezeSubscriptionUpdateRequest"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"InvoiceBase":{"properties":{"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Creation timestamp of the object."},"updated_at":{"type":"string","format":"date-time","nullable":true,"description":"Last modification timestamp of the object."},"id":{"type":"string","format":"uuid4","title":"Id","description":"Unique identifier (UUID) of the invoice"},"user_id":{"type":"string","format":"uuid4","title":"User Id","description":"Unique identifier (UUID) of the user who created the invoice"},"organization_id":{"type":"string","format":"uuid4","title":"Organization Id","description":"Unique identifier (UUID) of the organization"},"organization_consumer_id":{"type":"string","format":"uuid4","title":"Organization Consumer Id","description":"Unique identifier (UUID) of the organization consumer"},"account_id":{"type":"string","format":"uuid4","title":"Account Id","description":"Unique identifier (UUID) of the account"},"branch_id":{"type":"string","format":"uuid4","title":"Branch Id","description":"Unique identifier (UUID) of the branch"},"org_invoice_number":{"type":"integer","title":"Org Invoice Number","description":"Organization-specific invoice number"},"description":{"type":"string","nullable":true,"description":"Description of the invoice"},"total_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Total Amount","description":"Total invoice amount after discounts (in invoice currency)"},"original_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Original Amount","description":"Original invoice amount before discounts (in invoice currency)"},"item_level_discounted_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Item Level Discounted Amount","description":"Total amount discounted at the item level"},"total_vat_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Total VAT amount calculated from products"},"total_price_excluding_vat":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Total price excluding VAT"},"coupon_calculation_metadata":{"$ref":"#/components/schemas/CouponCalculationMetadataDto","nullable":true,"description":"Metadata about how coupons were applied to the invoice"},"currency":{"$ref":"#/components/schemas/CurrencyCode","description":"Currency code for the invoice (e.g., SAR, USD, EUR)","default":"SAR"},"home_currency_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Total in home currency (SAR) for reporting. Equals total_amount for SAR invoices."},"home_currency_amount_actual":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Actual settled amount in home currency (SAR) after payment processing."},"exchange_rate_at_creation":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Exchange rate used at invoice creation time (for audit). 1 for SAR invoices."},"consumer_message":{"type":"string","nullable":true,"description":"Message to display to the consumer"},"status":{"$ref":"#/components/schemas/InvoiceStatusEnum","description":"Current status of the invoice"},"payment_method":{"$ref":"#/components/schemas/PaymentMethodEnum","description":"Payment method for the invoice"},"allowed_payment_flow":{"$ref":"#/components/schemas/PaymentFlow","description":"Allowed payment flow for the invoice"},"current_payment_flow":{"$ref":"#/components/schemas/PaymentFlow","nullable":true,"description":"Current payment flow being used"},"period_start":{"type":"string","format":"date-time","nullable":true,"description":"Start date and time of the billing period"},"period_end":{"type":"string","format":"date-time","nullable":true,"description":"End date and time of the billing period"},"recurring_interval":{"$ref":"#/components/schemas/RecurringInterval","nullable":true,"description":"Billing cycle interval if this is a recurring invoice"},"recurring_interval_count":{"type":"integer","nullable":true,"description":"Number of intervals per billing cycle for recurring invoices"},"type":{"$ref":"#/components/schemas/InvoiceType","nullable":true,"description":"Type of invoice"},"total_amount_in_smallest_unit":{"type":"integer","title":"Total Amount In Smallest Unit","description":"Total invoice amount in smallest currency unit (e.g. halala for SAR).","readOnly":true},"original_amount_in_smallest_unit":{"type":"integer","title":"Original Amount In Smallest Unit","description":"Original invoice amount (before discounts) in smallest currency unit.","readOnly":true}},"type":"object","title":"InvoiceBase","description":"Base invoice response DTO.\n\nMulti-Currency Support:\n- `currency`: The currency code for the invoice (e.g., SAR, USD, EUR)\n- `home_currency_amount`: Total amount converted to home currency (SAR) for reporting\n- `home_currency_amount_actual`: Actual settled amount in home currency after payment\n- `exchange_rate_at_creation`: Exchange rate used at invoice creation time (for audit)\n\nFor SAR invoices, `home_currency_amount` equals `total_amount` and `exchange_rate_at_creation` is 1."},"InvoiceCreate":{"properties":{"notify_consumer":{"type":"boolean","title":"Notify Consumer","description":"Whether to send a notification to the consumer about the invoice","default":true},"description":{"type":"string","maxLength":500,"nullable":true,"description":"Invoice description or notes"},"items":{"items":{"$ref":"#/components/schemas/InvoiceItemCreateDto"},"type":"array","minItems":1,"title":"Items","description":"List of products or services to include in the invoice"},"payment_methods":{"$ref":"#/components/schemas/InvoicePaymentMethodDto","description":"Payment methods allowed for this invoice"},"coupons":{"items":{"type":"string","format":"uuid4"},"type":"array","nullable":true,"description":"List of coupon UUIDs to apply for discounts"},"organization_consumer_id":{"type":"string","format":"uuid4","title":"Organization Consumer Id","description":"UUID of the consumer who will pay this invoice"},"scheduled_on":{"type":"string","format":"date-time","title":"Scheduled On","description":"Payment due date. After this date, the invoice will be marked as overdue"},"exclude_coupons_if_installments":{"type":"boolean","title":"Exclude Coupons If Installments","description":"If enabled, all coupons (invoice-level and item-level) will be excluded when the payer chooses installments. The payer will need to pay the full amount without discounts when paying by installments.","default":false},"currency":{"$ref":"#/components/schemas/CurrencyCode","description":"Currency for the invoice. Defaults to SAR for backward compatibility.","default":"SAR"}},"type":"object","required":["items","payment_methods","organization_consumer_id","scheduled_on"],"title":"InvoiceCreate","description":"DTO for creating a new invoice.\n\nMulti-Currency Support:\n- The `currency` field is optional and defaults to 'SAR' for backward compatibility.\n- When a currency is specified, products must have a price in that currency.\n- If no ProductPrice exists for the currency, falls back to product.price (legacy)."},"InvoiceDetailed":{"properties":{"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Creation timestamp of the object."},"updated_at":{"type":"string","format":"date-time","nullable":true,"description":"Last modification timestamp of the object."},"id":{"type":"string","format":"uuid4","title":"Id","description":"Unique identifier (UUID) of the invoice"},"user_id":{"type":"string","format":"uuid4","title":"User Id","description":"Unique identifier (UUID) of the user who created the invoice"},"organization_id":{"type":"string","format":"uuid4","title":"Organization Id","description":"Unique identifier (UUID) of the organization"},"organization_consumer_id":{"type":"string","format":"uuid4","title":"Organization Consumer Id","description":"Unique identifier (UUID) of the organization consumer"},"account_id":{"type":"string","format":"uuid4","title":"Account Id","description":"Unique identifier (UUID) of the account"},"branch_id":{"type":"string","format":"uuid4","title":"Branch Id","description":"Unique identifier (UUID) of the branch"},"org_invoice_number":{"type":"integer","title":"Org Invoice Number","description":"Organization-specific invoice number"},"description":{"type":"string","nullable":true,"description":"Description of the invoice"},"total_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Total Amount","description":"Total invoice amount after discounts (in invoice currency)"},"original_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Original Amount","description":"Original invoice amount before discounts (in invoice currency)"},"item_level_discounted_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Item Level Discounted Amount","description":"Total amount discounted at the item level"},"total_vat_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Total VAT amount calculated from products"},"total_price_excluding_vat":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Total price excluding VAT"},"coupon_calculation_metadata":{"$ref":"#/components/schemas/CouponCalculationMetadataDto","nullable":true,"description":"Metadata about how coupons were applied to the invoice"},"currency":{"$ref":"#/components/schemas/CurrencyCode","description":"Currency code for the invoice (e.g., SAR, USD, EUR)","default":"SAR"},"home_currency_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Total in home currency (SAR) for reporting. Equals total_amount for SAR invoices."},"home_currency_amount_actual":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Actual settled amount in home currency (SAR) after payment processing."},"exchange_rate_at_creation":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Exchange rate used at invoice creation time (for audit). 1 for SAR invoices."},"consumer_message":{"type":"string","nullable":true,"description":"Message to display to the consumer"},"status":{"$ref":"#/components/schemas/InvoiceStatusEnum","description":"Current status of the invoice"},"payment_method":{"$ref":"#/components/schemas/PaymentMethodEnum","description":"Payment method for the invoice"},"allowed_payment_flow":{"$ref":"#/components/schemas/PaymentFlow","description":"Allowed payment flow for the invoice"},"current_payment_flow":{"$ref":"#/components/schemas/PaymentFlow","nullable":true,"description":"Current payment flow being used"},"period_start":{"type":"string","format":"date-time","nullable":true,"description":"Start date and time of the billing period"},"period_end":{"type":"string","format":"date-time","nullable":true,"description":"End date and time of the billing period"},"recurring_interval":{"$ref":"#/components/schemas/RecurringInterval","nullable":true,"description":"Billing cycle interval if this is a recurring invoice"},"recurring_interval_count":{"type":"integer","nullable":true,"description":"Number of intervals per billing cycle for recurring invoices"},"type":{"$ref":"#/components/schemas/InvoiceType","nullable":true,"description":"Type of invoice"},"invoice_number":{"type":"integer","title":"Invoice Number","description":"Global unique invoice number"},"remaining_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Remaining Amount","description":"Remaining amount to be paid"},"paid_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Paid Amount","description":"Total amount already paid"},"exclude_coupons_if_installments":{"type":"boolean","title":"Exclude Coupons If Installments","description":"Whether coupons are excluded when paying by installments"},"organization_consumer":{"$ref":"#/components/schemas/app__common__dtos__shared__OrganizationConsumer","description":"Consumer information for this invoice"},"items":{"items":{"$ref":"#/components/schemas/InvoiceItemDto"},"type":"array","title":"Items","description":"List of items included in the invoice"},"branch":{"$ref":"#/components/schemas/BranchDto","nullable":true,"description":"Branch information for this invoice"},"payments":{"items":{"$ref":"#/components/schemas/PaymentDto"},"type":"array","title":"Payments","description":"List of payments associated with this invoice"},"subscription_id":{"type":"string","format":"uuid4","nullable":true,"description":"Unique identifier (UUID) of the subscription if this invoice is part of a subscription"},"subscription":{"$ref":"#/components/schemas/SubscriptionDetailed","nullable":true,"description":"Subscription details if this invoice is part of a subscription"},"payment_methods":{"$ref":"#/components/schemas/InvoicePaymentMethodDto","nullable":true,"description":"Payment methods available for this invoice"},"recurrence_pattern":{"$ref":"#/components/schemas/RecurrencePattern","nullable":true,"description":"Recurrence pattern for recurring invoices"},"parent_id":{"type":"string","format":"uuid4","nullable":true,"description":"Parent invoice ID for recurring invoices"},"custom_field_answers":{"additionalProperties":true,"type":"object","nullable":true,"description":"Answers to custom fields collected for this invoice"},"url":{"type":"string","title":"Url","description":"URL to access the invoice"},"total_amount_in_smallest_unit":{"type":"integer","title":"Total Amount In Smallest Unit","description":"Total invoice amount in smallest currency unit (e.g. halala for SAR).","readOnly":true},"original_amount_in_smallest_unit":{"type":"integer","title":"Original Amount In Smallest Unit","description":"Original invoice amount (before discounts) in smallest currency unit.","readOnly":true},"remaining_amount_in_smallest_unit":{"type":"integer","title":"Remaining Amount In Smallest Unit","description":"Remaining amount in smallest currency unit.","readOnly":true},"paid_amount_in_smallest_unit":{"type":"integer","title":"Paid Amount In Smallest Unit","description":"Paid amount in smallest currency unit.","readOnly":true}},"type":"object","title":"InvoiceDetailed"},"InvoiceInPlaceUpdate":{"properties":{"scheduled_on":{"type":"string","format":"date-time","nullable":true,"description":"The scheduled payment date for the invoice. After this date, the invoice will be considered overdue. Must be a future date."},"description":{"type":"string","maxLength":500,"minLength":0,"nullable":true,"description":"Description of the invoice. Provides additional context or details about the invoice. Must be between 0 and 500 characters if provided."}},"type":"object","title":"InvoiceInPlaceUpdate","description":"DTO for partial in-place updates to invoice fields.\n\nThis DTO allows updating specific fields of an invoice without requiring all fields.\nOnly the fields provided will be updated. All fields are optional.\n\nNote: This endpoint performs in-place updates, unlike the full update endpoint\nwhich cancels and recreates the invoice. Use this for simple field updates."},"InvoiceItemCreateDto":{"properties":{"product_id":{"type":"string","format":"uuid4","title":"Product Id","description":"UUID of the product to include"},"quantity":{"type":"integer","exclusiveMinimum":0.0,"title":"Quantity","description":"Quantity of the product"},"coupons":{"items":{"type":"string","format":"uuid4"},"type":"array","nullable":true,"description":"List of coupon UUIDs to apply for discounts on this specific item"}},"type":"object","required":["product_id","quantity"],"title":"InvoiceItemCreateDto"},"InvoiceItemDto":{"properties":{"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Creation timestamp of the object."},"updated_at":{"type":"string","format":"date-time","nullable":true,"description":"Last modification timestamp of the object."},"id":{"type":"string","format":"uuid4","title":"Id","description":"Unique identifier (UUID) of the invoice item"},"product_id":{"type":"string","format":"uuid4","title":"Product Id","description":"Unique identifier (UUID) of the product"},"product":{"$ref":"#/components/schemas/ProductDto","description":"Product details for this invoice item"},"quantity":{"type":"integer","title":"Quantity","description":"Quantity of the product in this invoice item"},"original_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Original Amount","description":"Original amount before discounts"},"discounted_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Discounted Amount","description":"Amount after discounts are applied"},"coupon_calculation_metadata":{"$ref":"#/components/schemas/CouponCalculationMetadataDto","nullable":true,"description":"Metadata about how coupons were applied to this item"},"currency":{"$ref":"#/components/schemas/CurrencyCode","description":"Currency code for this item (e.g., SAR, USD)","default":"SAR"},"unit_price":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Snapshotted unit price at invoice creation (for historical accuracy)"},"product_price_id":{"type":"string","format":"uuid4","nullable":true,"description":"Reference to the ProductPrice used for this item (for traceability)"},"original_amount_in_smallest_unit":{"type":"integer","title":"Original Amount In Smallest Unit","description":"Original item amount in smallest currency unit.","readOnly":true},"discounted_amount_in_smallest_unit":{"type":"integer","title":"Discounted Amount In Smallest Unit","description":"Discounted item amount in smallest currency unit.","readOnly":true}},"type":"object","title":"InvoiceItemDto","description":"Invoice item response DTO.\n\nMulti-Currency Support:\n- `currency`: The currency code for this item (e.g., SAR, USD)\n- `unit_price`: Snapshotted price at invoice creation (for historical accuracy)\n- `product_price_id`: Reference to the ProductPrice used (for traceability)"},"InvoiceListItem":{"properties":{"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Creation timestamp of the object."},"updated_at":{"type":"string","format":"date-time","nullable":true,"description":"Last modification timestamp of the object."},"id":{"type":"string","format":"uuid4","title":"Id","description":"Unique identifier (UUID) of the invoice"},"user_id":{"type":"string","format":"uuid4","title":"User Id","description":"Unique identifier (UUID) of the user who created the invoice"},"organization_id":{"type":"string","format":"uuid4","title":"Organization Id","description":"Unique identifier (UUID) of the organization"},"organization_consumer_id":{"type":"string","format":"uuid4","title":"Organization Consumer Id","description":"Unique identifier (UUID) of the organization consumer"},"account_id":{"type":"string","format":"uuid4","title":"Account Id","description":"Unique identifier (UUID) of the account"},"branch_id":{"type":"string","format":"uuid4","title":"Branch Id","description":"Unique identifier (UUID) of the branch"},"org_invoice_number":{"type":"integer","title":"Org Invoice Number","description":"Organization-specific invoice number"},"description":{"type":"string","nullable":true,"description":"Description of the invoice"},"total_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Total Amount","description":"Total invoice amount after discounts (in invoice currency)"},"original_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Original Amount","description":"Original invoice amount before discounts (in invoice currency)"},"item_level_discounted_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Item Level Discounted Amount","description":"Total amount discounted at the item level"},"total_vat_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Total VAT amount calculated from products"},"total_price_excluding_vat":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Total price excluding VAT"},"coupon_calculation_metadata":{"$ref":"#/components/schemas/CouponCalculationMetadataDto","nullable":true,"description":"Metadata about how coupons were applied to the invoice"},"currency":{"$ref":"#/components/schemas/CurrencyCode","description":"Currency code for the invoice (e.g., SAR, USD, EUR)","default":"SAR"},"home_currency_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Total in home currency (SAR) for reporting. Equals total_amount for SAR invoices."},"home_currency_amount_actual":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Actual settled amount in home currency (SAR) after payment processing."},"exchange_rate_at_creation":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Exchange rate used at invoice creation time (for audit). 1 for SAR invoices."},"consumer_message":{"type":"string","nullable":true,"description":"Message to display to the consumer"},"status":{"$ref":"#/components/schemas/InvoiceStatusEnum","description":"Current status of the invoice"},"payment_method":{"$ref":"#/components/schemas/PaymentMethodEnum","description":"Payment method for the invoice"},"allowed_payment_flow":{"$ref":"#/components/schemas/PaymentFlow","description":"Allowed payment flow for the invoice"},"current_payment_flow":{"$ref":"#/components/schemas/PaymentFlow","nullable":true,"description":"Current payment flow being used"},"period_start":{"type":"string","format":"date-time","nullable":true,"description":"Start date and time of the billing period"},"period_end":{"type":"string","format":"date-time","nullable":true,"description":"End date and time of the billing period"},"recurring_interval":{"$ref":"#/components/schemas/RecurringInterval","nullable":true,"description":"Billing cycle interval if this is a recurring invoice"},"recurring_interval_count":{"type":"integer","nullable":true,"description":"Number of intervals per billing cycle for recurring invoices"},"type":{"$ref":"#/components/schemas/InvoiceType","nullable":true,"description":"Type of invoice"},"remaining_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","nullable":true,"description":"Remaining amount to be paid"},"paid_amount":{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$","title":"Paid Amount","description":"Total amount already paid"},"organization_consumer":{"$ref":"#/components/schemas/app__common__dtos__shared__OrganizationConsumer","description":"Consumer information for this invoice"},"subscription":{"$ref":"#/components/schemas/InvoiceListSubscrptionDto","nullable":true,"description":"Subscription information if this invoice is part of a subscription"},"payments":{"items":{"$ref":"#/components/schemas/PaymentDto"},"type":"array","nullable":true,"description":"List of payments associated with this invoice"},"total_number_of_payments":{"type":"integer","title":"Total Number Of Payments","description":"Total number of payments for this invoice"},"last_payment_paid_at":{"type":"string","format":"date-time","nullable":true,"description":"The date when the last payment was paid"},"total_amount_in_smallest_unit":{"type":"integer","title":"Total Amount In Smallest Unit","description":"Total invoice amount in smallest currency unit (e.g. halala for SAR).","readOnly":true},"original_amount_in_smallest_unit":{"type":"integer","title":"Original Amount In Smallest Unit","description":"Original invoice amount (before discounts) in smallest currency unit.","readOnly":true},"remaining_amount_in_smallest_unit":{"type":"integer","nullable":true,"description":"Remaining amount in smallest currency unit."},"paid_amount_in_smallest_unit":{"type":"integer","title":"Paid Amount In Smallest Unit","description":"Paid amount in smallest currency unit.","readOnly":true}},"type":"object","title":"InvoiceListItem"},"InvoiceListSubscrptionDto":{"properties":{"id":{"type":"string","format":"uuid4","title":"Id","description":"Unique identifier (UUID) of the subscription"},"recurring_interval":{"$ref":"#/components/schemas/SubscriptionRecurringInterval","description":"Billing cycle interval"},"recurring_interval_count":{"type":"integer","title":"Recurring Interval Count","description":"Number of intervals per billing cycle"},"status":{"$ref":"#/components/schemas/SubscriptionStatus","description":"Current status of the subscription"},"current_period_start":{"type":"string","format":"date-time","title":"Current Period Start","description":"Start date and time of the current billing period"},"current_period_end":{"type":"string","format":"date-time","nullable":true,"description":"End date and time of the current billing period"},"cancel_at_period_end":{"type":"boolean","title":"Cancel At Period End","description":"Whether the subscription will be canceled at the end of the current period"}},"type":"object","title":"InvoiceListSubscrptionDto"},"InvoicePaymentMethodDto":{"properties":{"mada":{"type":"boolean","title":"Mada","description":"Enable Mada payment method"},"visa":{"type":"boolean","title":"Visa","description":"Enable Visa payment method"},"mastercard":{"type":"boolean","title":"Mastercard","description":"Enable Mastercard payment method"},"amex":{"type":"boolean","title":"Amex","description":"Enable American Express payment method"},"bank_transfer":{"type":"boolean","title":"Bank Transfer","description":"Enable bank transfer payment method"},"installment":{"type":"boolean","title":"Installment","description":"Enable installment payment option"},"qurrah":{"type":"boolean","title":"Qurrah","description":"Enable Qurrah payment method","default":false}},"type":"object","required":["mada","visa","mastercard","amex","bank_transfer","installment"],"title":"InvoicePaymentMethodDto"},"InvoiceStatusEnum":{"type":"string","enum":["DRAFT","CREATED","SENT","ACCEPTED","REJECTED","COMPLETED","CANCELED","EXPIRED"],"title":"InvoiceStatusEnum","description":"Invoice status enum representing the lifecycle/state of an invoice.\n\nStatus describes the current stage of an invoice in its lifecycle (DRAFT → CREATED → SENT → ACCEPTED → COMPLETED).\nThis changes over time as the invoice progresses. Different from InvoiceType which describes the payment structure."},"InvoiceType":{"type":"string","enum":["ONE_OFF","ONE_OFF_FUTURE","RECURRING","INSTALLMENTS"],"title":"InvoiceType","description":"Invoice type enum representing the payment structure/pattern of an invoice.\n\nType describes how the invoice is structured for payments (ONE_OFF, RECURRING, INSTALLMENTS, etc.).\nThis is determined at invoice creation and typically doesn't change. Different from InvoiceStatusEnum\nwhich describes the current lifecycle state of the invoice."},"JsonValue":{},"Language":{"type":"string","enum":["AR","EN"],"title":"Language"},"LastInvoiceActivity":{"properties":{"id":{"type":"string","format":"uuid4","title":"Id","description":"Unique identifier (UUID) of the invoice"},"org_invoice_number":{"type":"integer","title":"Org Invoice Number","description":"Organization-specific invoice number"},"subcription_id":{"type":"string","format":"uuid4","nullable":true,"description":"Unique identifier (UUID) of the subscription if applicable"}},"type":"object","title":"LastInvoiceActivity"},"ListResource_ConsumerResponse_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ConsumerResponse"},"type":"array","title":"Data"},"pagination":{"$ref":"#/components/schemas/Pagination"}},"type":"object","title":"ListResource[ConsumerResponse]"},"ListResource_CouponDetailed_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/CouponDetailed"},"type":"array","title":"Data"},"pagination":{"$ref":"#/components/schemas/Pagination"}},"type":"object","title":"ListResource[CouponDetailed]"},"ListResource_FreezeSubscriptionBase_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/FreezeSubscriptionBase"},"type":"array","title":"Data"},"pagination":{"$ref":"#/compone
[...]
